:root{
    --colorprincipal: #000000; 
}




body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--colorprincipal);
}





.animacion{
    text-align: center;
    animation:descuento 5s infinite;
    /* nombre,cuanto dura, cantidad de repeticiones(numero o infinite)*/
    background-color:#ae946d;
    padding: 5px;
}


@keyframes descuento{
    0%{
        color: orange;
    }

    25%{
        color: gold;
        font-size: larger;
    }

    50%{
        color:darksalmon;
    }

    100%{
        color: white;
    }
} 




.navegacion {
    background-color:var(--colorprincipal); 
    color:#fff; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
}


.navegacion .logo img {
    max-width: 45px;
}


.menu ul {
    list-style: none; 
    display: flex; 
    justify-content: space-between; 
}


.menu li {
    margin-right: 30px; /* Espacio entre elementos de la lista */
}


a {
    text-decoration: none; 
    color: #fff;
}








/* Estilos para la sección de imagen de fondo */
.imgfondo {
    text-align:center;
    margin-bottom: 25px;
}



.contenedor {
    position: relative; /* Importante para posicionar elementos secundarios */
    max-width: 100%; 
    margin: 0 auto; 
}


img {
    width: 100%;
    height: auto;
    display: block;
} 










.carrusel-container {
    display: flex; 
    justify-content: center ;
    align-items:center;
}


.carrusel{
    width: 400px;

}


.carousel-item p{
    background-color: red;
    color: #fff;
    text-align: center;
}









.parrafo{
    color: white;
}








h2{
    color: white;
}


section{
    gap: 25px;
}


.card{
    width: 16rem;
}


h5{
    font-weight: bold; 
}


.btn-primary{
    background-color: var(--colorprincipal);
    color: white;
    transition: 0.5s;
}


.btn-primary:hover{
    background-color: yellowgreen;
}







footer{
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: center;
    padding: 5px;
}




















/*CSS Página Contacto*/

body{
    background-color: var(--colorprincipal);
}



h1{
    font-size: 35px;
    font-weight: bold; 
    text-decoration: underline; 
}





.contacto {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}


.contacto .flexcolumn{
    display: flex;
    flex-direction: column;
}


.img-puma{
    width: 500px;
    position: absolute; 
    top: 20%; /* Centra verticalmente el botón */
    left: 56%; /* Centra horizontalmente el botón */
    transition: 4s;
}


.animation:hover{
    animation: titulo 2s infinite; 
}

@keyframes titulo {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-40px);
    }

    60% {
        transform: translateY(-10px);
    }
}


.formulario{
    gap:20px;
    padding:10px;
}





#Enviar{
    background-color: #0077B5;
    color: #fff;
    width: 100px;
    padding: 10px 20px;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}


#Enviar:hover {
    width: 120px;
    background-color: #005683;
    transition: .5s;
}

